html,
body {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  opacity: 95%;
}

#filter {
  background-color: black;
  color: white;
}

#newNote {
  color: white;
  font-size: 2 rem;
  border-radius: 6px;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  opacity: 95%;
}

.box {
  border: 1px solid #000;
  border-radius: 15px;
  opacity: 90%;
  margin: 1.5em;
  background-color: #222222;
}

.titleNote,
.bodyNote {
  opacity: initial;
  color: white;
  outline: none;
}

.boxinput {
  background-color: #222;
  border-color: #000;
  color: white;
  height: auto;
}

.textareaElement {
  width: 80%;
  max-width: 300px;
  font-size: 1.7em;
  font-weight: 500;
}

#Bodynote {
  font-size: 1em;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
  justify-items: stretch;
  align-items: stretch;
}

.wrapper > div {
  background: #000;
  padding: 1em;
}

.wrapper > div:nth-child(odd) {
  background: #000000;
}

.title,
#addForm {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.titleTop {
  opacity: 100%;
  margin-right: 0;
  color: white;
  font-weight: 500;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .textareaElement {
    width: 80%;
    max-width: 200px;
    font-size: 1.7em;
    font-weight: 500;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
  }
  .box {
    border: 1px solid #000;
    border-radius: 15px;
    opacity: 90%;
    margin: 0.25em;
  }
}

@media (max-width: 768px) {
  .textareaElement {
    width: 80%;
    max-width: 200px;
    font-size: 1.7em;
    font-weight: 500;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
  }
  .box {
    border: 1px solid #000;
    border-radius: 15px;
    opacity: 90%;
    margin: 1em;
  }
  #main-header {
    margin: 0em;
    border: 0px;
    padding-bottom: 1em;
  }
}
@media (max-width: 576px) {
  .textareaElement {
    width: 80%;
    max-width: 300px;
    font-size: 1.7em;
    font-weight: 500;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
  }
  #newNote {
    color: white;
    font-size: 1.2rem;
    border-radius: 6px;
    padding-top: 0.3em;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    opacity: 95%;
  }
  #main-header {
    margin: 0em;
    border: 0px;
    padding-bottom: 1.3em;
  }
}
